.book-item{
    display: flex;
    margin: 20px 0;
}

.book-item .book-cover{
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;
}

.book-item .book-cover img{
    max-width: 100%;
}

.book-item .book-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
}

.book-item .book-details .book-title{
    font-size: 1.2rem;
}

.book-item .book-details .book-price{
    font-size: 1.4rem;
}