.shopping-cart-table .item-actions{
    text-align: right;
}
.shopping-cart-table .item-actions .action-btn{
    margin-left: 5px;
}

.cart-total{
    text-align: right;
    font-size: 1.4rem;
    margin-right: 10px;
}