.shop-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(73, 73, 73);
}

.shop-header a{
    text-decoration: none;
}

.shop-header .logo{
    font-size: 1.5rem;
}

.shop-header .shopping-cart{
    align-self: center;
    font-size: 1.2rem;
}

.shop-header .shopping-cart .cart-icon{
    margin-right: 5px;
    font-size: 1.5rem;
    color: cadetblue;
}